<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<img src="http://www.bosqueschool.org/uploads/images/unm%20logo.JPG">
<p>Hello <%= @personname %>!</p>
<p>Thank you for being a part of Web Application Architectures with Greg Heileman, offered by the University of New Mexico through Coursera.</p>

<p>Please note that there are a series of lectures to download and view, and quizzes to take, in order to do well in the course. You can access these on the course page.</p>

<p>Best wishes in your goal to complete the course!</p>
</body>
</html>
